<div align="center">
  <tr><th>Weather Powered Email</th></tr>
    <tr>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    {{ form }}
                </td>
            </tr>
        </table>
        <input type="submit" value="Subscribe" />
    </form>
    {% if exists %}
        <div>{{ user }} is already subscribed</div>
    {% endif %}
    {% if success %}
        <div>Successfully subscribed {{ user }} to emails</div>
    {% endif %}
  </tr>
</div>